[
 {riak_ensemble, [{data_root, "data"}]},
 {cr,  [{peers,[{  'cr@127.0.0.1',9000,9001,9002},
                { 'cr2@127.0.0.1',9004,9005,9006},
                { 'cr3@127.0.0.1',9008,9009,9010}]}]},
 {kvs, [{dba,store_mnesia},
        {log_modules,cr_config},
        {user,[{interval,5,10,user},
               {interval,10,100,user2}]},
        {schema, [ db_config,
                   kvs_feed, kvs_user, kvs_subscription ]} ]}
].
