[
 {riak_ensemble, [{data_root, "data"}]},
 {cr,  [{node, [{"127.0.0.1",9016,9017,9018}]},
        {peers,[{"127.0.0.1",9000,9001,9002},
                {"127.0.0.1",9004,9005,9006},
                {"127.0.0.1",9008,9009,9010},
                {"127.0.0.1",9012,9013,9014}]}]},
 {kvs, [{dba,store_mnesia},
        {log_modules,deposits_allow},
        {user,[{interval,5,10,user},
               {interval,10,100,user2}]},
        {schema, [ dbs_config,
                   kvs_feed, kvs_user, kvs_subscription,
                   bpe_metainfo, act_config ]} ]}
].
